.sekil1-div{
    position: absolute;
    bottom: 70px;
    color: rgb(255, 255, 255);
}

.img-div1{
    height: 480px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    transition: all 1s; 
}

.sekil2-div{
    color: rgb(255, 255, 255);
}

.img-div2{
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    transition: all 1s; 
}

.h2 {
    font-size: 2rem ;
}
 

/* footteer */
.foter{
    text-align: center!important;
    text-decoration: none;
}
